<nav>
  <div class="container nav-bar">
    <a href="#">
      <p class="headline">sports fan synthesizer.</p>
      <img>logo</img>
    </a>
    <ul class="nav-list">
      <li><a href="#">app</li>
      <li><a href="#">about</li>
    </ul>
  </div>
</nav>
