<div class="container main">
  <div class="halfBox">
    <h1>Pick Some Things...</h1>
    <form action="/showTeam" method="get">
      <select name="league">
        <option selected disabled>League</option>
        <option value="nbaTeams">NBA</option>
        <option value="superRugbyTeams">Super Rugby</option>
      </select>
      <select name="Colour" label="Favourite Colour">
        <option selected disabled>Colour</option>
        <option value="black">black</option>
        <option value="blue">blue</option>
        <option value="red">red</option>
        <option value="yellow">yellow</option>
        <option value="maroon">maroon</option>
        <option value="white">white</option>
      </select>
      <input id="submit" type="submit" value="Let's Go!"></input>
    </form>
  </div>
  <div class="halfBox">
    <h1>Who's it gonna be...</h1>
  </div>
</div>
