<nav>
  <div class="container nav-bar">
    <a href="../">
      <p class="headline">sports fan synthesizer.</p>
      <!-- <img>logo</img> -->
    </a>
    <ul class="nav-list">
      <li><a href="../">app</a></li>
      <li><a href="../about">about</a></li>
    </ul>
  </div>
</nav>
<div class="resultBox">
  <h2>{{teamName}}</h2>
  <h3>{{location}}</h3>
  <p>This team's primary colour is {{primaryColour}} and its secondary colour is {{secondaryColour}}</p>
  <img src="http://i.cdn.turner.com/nba/nba/teamsites/images/legacy/celtics/CelticsLogo_History.gif">
</div>
