<div class="container main">
  <h1>Showing User's Team</h1>
</div>
<div class="container main">
  {{#each teams}}
    <div class="halfBox">
      <h2 class="margined-text">{{this.teamName}}</h2>
      <img src="{{this.imageURL}}">
    </div>
  {{/each}}
</div>
