/** BASE STYLES **/
* {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}


body {
  padding: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  background-color: #E3E7E8;
  color: black;
  margin: 0;;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.margined-text {
  margin: 10px 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  text-decoration: none;
  list-style: none;
}

.main-area {
  text-align: center;
  margin: 0 auto;
  color: black;
  max-width: 1060px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
}


/** MAIN BOXES **/

.queryBox, .resultBox {
  background-color: white;
  /*width: 50%;*/
  margin: 30px;
  margin-top: 100px;
  min-height: 320px;
  border-radius: 20px;
  /*padding: 80px 0;*/
  padding-top: 10px;
  text-align: center;
  flex: 1;
}

@media (max-width: 768px) {
  .main-area {
    display: block;
  }
  .queryBox, .resultBox {
    width: 90%;
  }
}

/** NAV BAR **/
nav {
  background-color: white;
  color: black;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.5em;
}

.nav-bar {
  display: flex;
  flex: 1;
}

.headLine {
  font-size: 2em;
}

ul li {
  padding: 0 50px;
}

.nav-list {
  display: flex;
  text-align: right;
}


/** Form **/

form select, form input{
  background-color: white;
  border: solid 2px gray;
  color: gray;
  display: block;
  margin: 20px auto;
  width: 85%;
  text-align: center;
  font-size: xx-large;
}

input {
  border-radius: 5px;
}
